node_modules/*
*/node_modules/*
.next/*
*/.next/*
package-lock.json
*/package-lock.json
dist/*
*/dist/*
*.log
*/.log
android/*
*/android/*
out/*
*/out/*
.npm-cache-local/*
*/.npm-cache-local/*
.npm-cache-mobile/*
*/.npm-cache-mobile/*
.DS_Store
*.DS_Store
android/*
*/android/*
